body {
    font: 400 16px/1.5 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-weight: 400;
}

h1 small {
    font-size: 16px;
}

.navbar.navbar-default.navbar-fixed-side img {
    max-width: 350px;
}

#footer-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-size: 10px;
    opacity: 0.20;
}
