body {
    font: 400 16px/1.5 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-weight: 400;
}

h1 small {
    font-size: 16px;
}

#override li a {
    color: #333;
}

.navbar.navbar-default.navbar-fixed-side img {
    max-width: 350px;
} li {
    border-radius: 3px;
}

.rtl {
    unicode-bidi: bidi-override;
    direction: rtl;
}
