:root {
    --bg-color: #205e72;
    --text-color: #f2fff6;
}

a {
    color: var(--text-color);
}

a :clicked {
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "PT Mono", monospace;
    font-size: 20px;
}

li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.header {
    font-weight: bold;
    white-space: nowrap;
}

.right-border {
    border-right: 2px solid var(--text-color);
}

#content {
    padding-left: 40px;
    padding-right: 40px;
}

#front-matter {
    border-right: 2px solid var(--text-color);
    padding-right: 40px;
}

#links {
    padding-left: 40px;
    padding-right: 40px;
}

#links li {
    text-decoration: none;
}

#links li:hover {
    text-decoration: underline;
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main {
    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    /* layout */
    margin: auto;
    height: 100vh;
    width: 50%;
}

#section-pages-nav {
    display: none;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--text-color);
    text-align: center;
    font-size: 16px;
}

#section-pages-nav-left {
    margin-right: 120px;
}
